[submodule "ext/googletest"]
	path = ext/googletest
	url = https://github.com/google/googletest
[submodule "ext/cxxopts"]
	path = ext/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "ext/span"]
	path = ext/span
	url = https://github.com/tcbrindle/span
[submodule "ext/jsoncpp"]
	path = ext/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
